/* Variables */

:root {
  --main-font: "Lato", sans-serif;
  --primary-color: #8058ee;
  --black: #1e1e1e;
  --white: #fff;
}

/* Global styles */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.8;
}

.container {
  max-width: 80rem;
  width: 90%; /* cuando el ancho sea menos de 1200px va a ocupar el 90% */
  margin: 10rem auto 0 auto;
}

@media (min-width: 468px) {
  .container {
    margin: 20rem auto 0 auto;
  }
}

/* insurance-quote-card */
.insurance-quote-card {
  border: solid 1px var(--black);
}

.insurance-quote-card__header {
  background-color: var(--primary-color);
}

.insurance-quote-card__heading {
  margin: 0;
  text-align: center;
  text-align: center;
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
}
